/*Set document style*/

body {
  background-color: #3e004a;
  font-family: Arial;
  color: #ffc0ce;

}

.sub_title {
  width: 90%;
  float: right;
}

.navbar {
  border-top: 1px solid #ffc0ce;
}

.navbutton {
  text-align: center;
  border-bottom: 1px solid #ffc0ce;
  width: 33%;
  float: left;
}

.nav_on {
  border-left: 1px solid #ffc0ce;
  border-right: 1px solid #ffc0ce;
  border-bottom: none;
}

.error_msg {
  width: 80%;
  color: #ff3357;
  margin-left: auto;
  margin-right: auto;
}

.button, .toggler {
  text-align: center;
  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 1px solid #ffc0ce;
  cursor: pointer;
}

.button {
  width: 45%;
}

.button:hover, .toggler:hover, .navbutton:hover {
  background-color: #3e0028;
}

.toggler {
  width: 55%;
}

.clear {
  clear: both;
}
