/*Set document style*/

body {
  background-color: #3e004a;
  font-family: Arial;
    color: #ffc0ce;

}

.sub_title {
  width: 90%;
  float: right;
}

.navbar {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.navbutton {
  text-align: center;
  width: 33%;
  float: left;
}

.error_msg {
  width: 80%;
  color: red;
  margin-left: auto;
  margin-right: auto;
}

.button {
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear: both;
}
