.clear {
  clear: both;
}

body {
  background-color: white ;
  font-family: Arial;
  color: #3e004a;
  cursor: default;

}

.container {
  width: 98%;
  border: 1px solid #3e004a;
  padding: 3px;
}

h1 {
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.1em;
  text-align: center;
  font-size: 2.5rem;
  font-family: Times;
  background-color: white;
}

.sub_title {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: white;
}

h3 {
  -webkit-margin-before: 0.25em;
}

.upper {
  background-image: url("rubustop.jpg");
  background-size: 100%;
  height: 40%;
  min-height: 150px;
}

.navbar {
  border-top: 1px solid #3e004a;
}

.navbuffer {
  width: 4.7%;
  border-bottom: 1px solid #3e004a;
  min-height: 20px;
  float: left;
}

.navbutton {
  text-align: center;
  border-bottom: 1px solid #3e004a;
  width: 30%;
  float: left;
  min-height: 20px;
}

.nav_on {
  border-left: 1px solid #3e004a;
  border-right: 1px solid #3e004a;
  border-bottom: none;
}

.error_msg {
  width: 80%;
  color: #ff3357;
  margin-left: auto;
  margin-right: auto;
}

.button, .toggler, .info_button, .layer {
  background-color: #8dcf4c;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 1px solid #3e004a;
  cursor: pointer;
}

.button {
  width: 45%;
}

.toggler {
  width: 55%;
}

.info_button {
  width: 40%;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  min-height: 36px;
}

.layer {
  float: left;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 20px;
  min-height: 36px;
}

.navbutton:hover {
  background-color: #8dcf4c;
}

.button:hover,
.toggler:hover,
/*.navbutton:hover,*/
.info_button:hover,
.layer:hover {
  background-color: #6D1C72;
  color: #ffc0ce;
}

.jam, .jam:hover, .heat, .heat:hover {
  background-color: grey;
  color: black;
  cursor: default;
}

.location_fail, .location_fail:hover {
  background-color: red;
}

.where, .name, .description {
  width: 98%;
  /*background-color: #6D1C72;*/
  line-height: 1.5rem;
  /*TODO: Make sure that cursor is visible on focus*/
  padding: 4px;
}

.where:focus {
  border: none;
}

#map-canvas {
  /*TODO: Detect the height of window, match map height to window height*/
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: 800px;
}

